[Desktop Entry]
Version=3.0
Type=Application
Name=kalkulacka
Comment=asd
Exec=kalkulacka
Icon=/usr/share/icons/kalkulacka/kalkulacka.png
Categories=Utility;

